firmware/mblboot/*.map
firmware/mblboot/obj_release
firmware/mblboot/obj_debug
firmware/mblboot/*.elf
firmware/modbule/*.bin
firmware/modbule/*.h
firmware/modbule/obj_rel_a
firmware/modbule/obj_rel_b
firmware/modbule/obj_debug
firmware/modbule/*.map
firmware/mblboot/.gdbinit
firmware/mblboot/.gdb_history
.vscode/settings.json
